<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Categoria</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>



            </div>
            <div class="modal-body">
                <h5>¿Está seguro que desea eliminar la Categoria?</h5>
                <h4 id="titleCategoria"></h4>
            </div>
            <div class="modal-footer">
                <span id="mensajeEliminar" class="text-danger"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="catego.EliminarCategoria()" class="btn btn-primary">Aceptar</button>



            </div>



        </div>



    </div>



</div>